[submodule "vendor/doctest"]
	path = vendor/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "vendor/RxCpp"]
	path = vendor/RxCpp
	url = https://github.com/ReactiveX/RxCpp.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendor/yaml-cpp"]
	path = vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "vendor/inja"]
	path = vendor/inja
	url = https://github.com/pantor/inja.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
